* {
    margin: 0;
    padding: 0;
}

/*----------------------------------
           Début Articles
----------------------------------*/
.Article1{
   
    width: 100vw;
    height: 100vh;
   
    display: flex;
    flex-direction: row;

}
.Article2{
   
    width: 100vw;
    height: 100vh;
   
    display: flex;
    flex-direction: row;

}
.Partie1txt1 {
    position: relative;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 50px;
    
    justify-content: center;
}
.Partie2txt2{


    position: relative;
    width: 50vw;
    height: 100vh;
    display: flex;
    
    flex-direction: column;

    padding-left: 50px;
    
    justify-content: center;
    

   
    padding-right: 15vw;

 
   
    
}

p.text1{
    width:25vw;
    padding-top: 2vh;
    padding-left: 5vw;    
}
p.texte{
    width:25vw;
    padding-top: 2vh;
    padding-left: 5vw;    
}

h1.color.contour.Titre {

    margin-bottom: 10vh;
    margin-left: 100px;

}

h2.color#le1{
    
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5vh;
    
 
}
h2.color#le2{
    
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5vh;
    
 
}


#img1 { 
    max-width: 50vw;
}
#img2{ 
    max-width: 50vw;
}
.Partie1img1 {

    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    

}
.Partie2img2{

    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    

}

h4.info {
    padding-left: 5vw;
}
h4.color.liens {
    
        padding-left: 5vw;
    
}

.bas {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    gap: 5vh;

}

.lienvgrille { 
    
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;      
    color:transparent;
    font-size: 20px;
    padding-right: 4vw;
}

h1.color.logo{
    position: fixed;
    font-size: 30px;
    padding-top: 0px;
    margin-top: 1vh;
}


@media screen and (max-width: 700px)  { 
    
    .Article1{
   
        padding-top: 10vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 10vh;
       
    }
    h1.color.contour.Titre {

        margin-bottom: 5vh;
        margin-left: 0px;
        display: flex;
        justify-content: center;
       
    }

    .Article2{
   
        padding-top: 20vh;
        padding-bottom: 20vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        
       
       
    }
    
    .Partie1txt1 {

        
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
     
        
        
    }

    .Partie2txt2{


        position: relative;
        width: 100vw;
        padding-right: 0px;
        padding-left: 0px;       
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        
    }
    
    .Partie1img1 {

        width: 100vw;

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Partie2img2{

        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
       
    
    }
    #img2 { 
        max-width: 100vw;
       
       
    }
    #img1 { 
        max-width: 100vw;
    }

    p.text1{
    
        padding-top: 2vh;
        padding-bottom: 2vh;
        width:60vw;
        padding-left: 7vw;
        padding-right: 2vw;        
    

    }

    p.text2{
    
        padding-top: 1vh;
        padding-bottom: 5vh;
        width:60vw;
        padding-left: 7vw;
    }
    
    h2.color#le1{
        padding-bottom: 5vh;
        padding-top: 5vh;
        padding-left: 5vw;
        
        
    }

    h2.color#le2{
        padding-bottom: 3vh;
        padding-left: 7vw;
        font-weight: 400;
        font-style: italic;
        color: blue;
        font-size: 15px;
        
       
    }
    .bas{
        padding-top: 1vh;
    }
    .lienvgrille{
        font-size: 10px;
        color: blue;
        -webkit-text-stroke: 0px;
    
    }
    h4#liens{
        font-size: 10px;
        flex-wrap: wrap;
    }
 
}

/*----------------------------------
        Fin Articles
----------------------------------*/