section {
    background-color: rgb(172, 165, 165);
    height: 28em;
}

footer {
    background-color: #2417db;
}
.logo {
    height: 2.5em;
    text-align: center;
    color: rgb(228, 228, 240);
    margin: 2em 10% 0 10%;
    font-size: 3em;
    border-top: solid black;
}

footer a:hover {
    color: #dbdbe7;
}

.footer-menu {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 5px;
    margin-bottom: 2em;
    grid-template-areas:
        "link1 link1 link2 link2"
        "link3 link3 link4 link4"
        ". link5 link5 .";
}
.link1 {
    grid-area: link1;
}
.link2 {
    grid-area: link2;
}
.link3 {
    grid-area: link3;
}
.link4 {
    grid-area: link4;
}
.link5 {
    grid-area: link5;
}

.copy {
    margin-top: 1em;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

img {
    width: 50px;
    height: 50px;
}

@media only screen and (min-width: 480px) {
    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2em;
    }
    a {
        display: inline-block;

        font-size: 2.5em;
        border-right: solid black;
        padding: 0 1em 0 1em;
    }

    footer a:hover {
        background-color: #dbdbe7;
        color: blue;
    }
    img {
        display: none;
    }
}
