#footer {
    border-top: solid rgb(48, 12, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}
.logo {
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
    color: transparent;
    font-size: 50px;
    padding-top: 2em;
}

#footer a:hover {
}

.copy {
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
    color: blue;
    font-size: 20px;
}
#footer a {
    margin-top: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    color: blue;
    font-size: 25px;
}

.img_footer {
    width: 30px;
    height: 30px;
}

.copyDesk {
    display: none;
}

@media only screen and (min-width: 480px) {
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em;
    }
    .footer-menu {
        text-decoration: none;
        color: rgb(47, 8, 187);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
    }

    .logo {
        margin-left: 1em;
        padding-top: 1em;
    }

    #footer a {
        gap: 0.5em;
        border-right: solid rgb(62, 5, 194);
        padding: 0 1em 0 1em;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        color: blue;
        font-size: 25px;
    }

    #footer a:hover {
    }
    .img_footer {
        display: none;
    }
    .copy {
        display: none;
    }
    .copyDesk {
        display: inline;
        margin-left: 85%;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: italic;
        color: blue;
        font-size: 20px;
    }
}
